%img.img-polaroid.span3.offset2#teacher1{"data-teacher1" => teacher1.id, src: "/assets/teachers/#{teacher1.img_name}"}
%img.img-polaroid.span3.offset2#teacher2{"data-teacher2" => teacher2.id, src: "/assets/teachers/#{teacher2.img_name}"}
