.container#index-page
	.row
		%img#intelli{src: "/assets/intelli.png"}
		%img#clash{src: "/assets/clash.png"}
	%center
		%h1.page-header Who appears to be the most intellectual?
		%a.btn{href: "/teachers/show"} See the top 10
	.row
		#images
			=render 'images', teacher1: @teacher1, teacher2: @teacher2
