.container#index-page
	.row
		%img#intelli{src: "/assets/intelli.png"}
		%img#clash{src: "/assets/clash.png"}
	%center
		%h1 Who appears to be the most intellectual?
		%p.lead Click to Choose (All pictures are of Missouri State Faculty except the penguins).
		%hr
		%a.btn{href: "/teachers/show"} See the top 15
	.row
		#images
			=render 'images', teacher1: @teacher1, teacher2: @teacher2
