.container
	.page-header
		%h1 Most Intellectual Looking Faculty At MSU
		%p.lead
			%a.btn{href: "/"} Back
			Ratings are determined through the 
			%a{href: "http://en.wikipedia.org/wiki/Elo_rating_system", target: "_blank"} Elo rating system.
	-@teachers.each_with_index do |teacher,i|
		-if (i+1) % 3 == 0
			.row{style: "padding-bottom:10px;"}
				%img.teacher-img.img-polaroid.span3{src: "/assets/teachers/#{teacher.img_name}"}	
				%h1#replaceStuff{style: "display:none"}= teacher.rating
		-elsif (i+1) % 3 == 1
			%img.teacher-img.img-polaroid.span3{src: "/assets/teachers/#{teacher.img_name}"}	
		-else
			%img.teacher-img.img-polaroid.span3.offset1{src: "/assets/teachers/#{teacher.img_name}"}	
