!!!
%html
	%head
		%title Intelliclash
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	#container
		%body#body
			= yield
		#footer
			%center
				%p.muted Pictures provided by the MSU online directory.
